# Copie este arquivo para .env e preencha com os valores reais
# O arquivo .env nunca deve ser commitado no git

# Credenciais RDS
DB_PASSWORD=SuaSenhaAqui!

# Chave mestra do auth-service
MASTER_KEY=togglemaster-prod-master-key

# AWS
AWS_PROFILE=fiap
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=456788081240
